html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
  margin: 0;
  padding: 0;
  background: #eee;
}

.container{
  height: 100%;
  width: 100%;
  margin-top: 50px;
  position: fixed;
}

.content{
  height: calc(100% - 150px);
  margin: 100px 160px 0 160px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 8px 10px rgba(0,0,0,.16);
  #wrap{
    padding: 40px 40px 0;
  }
}

.content-inner{
  height: calc(100% - 40px);
  overflow: auto;
}
